.contact {
    position: relative;
    background: #000;
    color: #fff;
    font-family: 'GROUPE', sans-serif;
    &__header {
        margin-bottom: 3rem;
    }
    @media (max-width: 1100px) {
        .content {
            padding: 2rem;
        }
    }
    &__profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
        &-item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1rem;
            img {
                width: 70px;
                height: 90px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &-col {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 17px;
        }
        
        
    }
    &__footer {
        position: absolute;
        bottom: 1rem;
        left:0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        &-link {
            width: 100%;
            text-align: center;
            font-size: 20px;
            @media (max-width: 900px) {
                font-size: 14px;
            }
        }
    }
}
.form {
    &__info {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 2.2vw;
        font-weight: 500;
        input {
            font-size: inherit;
            font-weight: inherit;
            border: none;
            font-family: sans-serif;
            background: transparent;
            border-bottom: 1px solid #fff;
            color: #444;
            &:focus {
                outline: none;
            }
        }
    }
    &__flex {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        textarea {
            width: 70%;
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            color: #fff;
            font-size: 2.2vw;
            font-family: sans-serif;
            resize: none;
            &focus {
                outline: none;
            }
        }
        .coolButton {
            font-weight: 900;
            font-size: 20px;
            &:before {
                background: #fff;
            }
            &:after {
                display: none;
            }
            &:hover:before {
                background: #fff;
            }
        }
    }
    
}
@media (max-width: 900px) {
    .form {
        &__flex {
            flex-direction: column;
            textarea {
                font-size: 4vw;
            }
        }
        &__info {
            font-size: 4vw;
            textarea,
            input {
                font-size: 4vw;
            }
        }
    }
}
@media (max-width:800px) {
  .contact .coolButton {
    transform: scale3d(1, 1, 1);
    font-size: 19px;
  }
}

@media (max-width: 610px) {
    .form {
        &__info {
            flex-direction: column;
            align-items: flex-start; 
            font-size: 5vw;
            width: 100%;
            input {
                font-size: inherit; // inherit c'est pour garder la taille de la police
                width: 100%;
            }
        }
        &__flex{
            textarea {
            width: 100%;
            font-size: 5vw;
            }
        }
    }
}

